@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Baskerville';
    src: url(../fonts/ofont.ru_Baskerville\ WGL4\ BT.ttf);
    font-display: swap;
}
.font-baskerville{
    font-family: 'Baskerville' ;
}
.color_222{
    color: #222222;
}